<aside id="weihnachten-neujahr" class="xmas-box" aria-labelledby="xmas-box">
    <div class="container">
        <h2 id="xmas-heading" class="sr-only">Erholsame Feiertage und ein schönen Jahreswechsel</h2>
        <div class="xmas-content scale-up">
            <p>Liebe Kunden der Projekt M Immobilien,</p>
            <p>Für die bevorstehenden Weihnachtsfeiertage wünschen wir Ihnen und Ihrer Familie eine erholsame und besinnliche Zeit.</p>
            <p>Wir bedanken uns für das uns entgegengebrachte Vertrauen und wünschen Ihnen einen mit Zuversicht erfüllten Jahreswechsel und von Herzen ein gesundes und friedvolles Jahr 2025.</p>
            <p>Auch wir freuen uns ab dem 22. Dezember 2025 auf die gemeinsame Zeit mit unseren Familien.</p>
            <p>Ab dem 6. Januar sind wir gerne wieder für Sie und Ihre Anliegen da.</p>
        </div>
    </div>
</aside>